.project-summary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-summary
.project-summary-items {
  overflow-x: hidden;
  min-width: 1200px;
  border: 1px solid rgba(178, 190, 195, .5);
}
.project-summary
.project-summary-items>li {
  line-height: 60px;
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.project-summary
.project-summary-items>li:nth-child(even) {
  background-color: #fff;
}

.project-summary
.project-summary-titles {
  overflow-x: hidden;
  min-width: 1200px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0 30px;
  background-color: #fff;
  line-height: 40px;
  border: 1px solid rgba(178, 190, 195, .5);
  border-bottom: none;
}

.project-summary-item 
span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 16px;
}
