.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login
.form-container {
  min-width: 450px;
  border: 1px solid rgba(0, 0, 0, .08);
  border-radius: 5px;
  background-color: transparent;
  padding: 40px 50px 15px 50px;
}
.login-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
}