.view-project-module {
  border: 1px solid var(--green);
  margin: 30px;
  /* padding: 10px; */
  background-color: #fff;
}
.view-project-module-title {
  border-bottom: 1px solid rgba(100, 111, 115, .4);
}
.view-project-module-file {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.view-project-module-file>div {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 40px;
}
.view-project-module-file>div
span {
  color: var(--theme-color);
  cursor: pointer;
  padding: 0 5px;
}

.view-project-module-title,
.view-project-module-file,
.view-project-module-text,
.view-project-publish {
  padding: 10px;
}
.view-project-edit,
.view-project-title {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.view-project-edit {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color: var(--theme-color);
  transition: all .5s;
}
.view-project-edit:hover {
  color: var(--green);
}
.view-project-module-text>div {
  word-wrap: break-word;
}