.view-project-module {
  border: 1px solid var(--green);
  border-bottom: none;
  background-color: #fff;
  min-width: 800px;
}
.view-project-module:last-child {
  border-bottom: 1px solid var(--green);
}

.view-project-module-file {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.view-project-module-title,
.view-project-module-file,
.view-project-module-text,
.view-project-publish {
  padding: 10px;
}
.view-project-edit,
.view-project-title {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.view-project-edit {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  color: var(--theme-color);
  transition: all .5s;
}
.view-project-edit:hover {
  color: var(--green);
}
.view-project-module-text>div {
  word-wrap: break-word;
}

.view-project-module>div:nth-child(2) {
  border-top: 1px solid rgba(100, 111, 115, .4);
}

.view-project-title,
.view-project-module-title,
.view-project-module-text,
.view-project-module-file>span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.view-project-title,
.view-project-module-title {
  max-width: 800px;
}