.edit-project {
  margin: 30px;
}

.add-title {
  min-height: 70px;
  display: flex;
  align-items: center;
}

.add-title>span:last-child {
  margin-left: 20px;
  color: var(--theme-color);
  cursor: pointer;
  border: 1px solid var(--border);
  padding: 5px;
  border-radius: 5px;
  transition: all .5s;
  display: inline-block;
  line-height: 20px;
}
.add-title>span:last-child:hover {
  background-color: var(--bck-color);
  color: var(--font-hover-color);
}

.add-title-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
}
.add-title-display
span:first-child {
  font-size: 20px;
  font-weight: 500;
}
.add-title-input {
  width: 500px !important;
}

.add-modules {
  overflow: hidden;
}

.add-modules>div:last-child {
  border: none;
}
.edit-project-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.edit-project-btns>button:last-child {
  margin-left: 20px;
}



