.edit-project-skeleton {
  padding: 50px;
}

.edit-project-add-modules {
  overflow: hidden;
}

.edit-project-add-modules>div:last-child {
  border: none;
}
.edit-project-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.edit-project-btns>button:last-child {
  margin-left: 20px;
}



