@import '~antd/dist/antd.less';
body {
  --theme-color: rgba(112, 182, 115, 1);
  --green: rgba(112, 182, 115, .8);
  --black: #636e72;
  --white: #fff;
  --bck-color: var(--theme-color);
  --border: var(--theme-color);
  --font-color: var(--black);
  --font-hover-color: var(--white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
