.sidebar {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
}
.sidebar a:first-child {
  margin: 5px 0 0 0;
}
.sidebar
div {
  padding: 10px 30%;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
}

.sidebar
a {
  color: #636e72;
  transition: color .3s;
}

.sidebar
a:hover {
  color: #fff;
  background-color: var(--green);
}
.sidebar-link-checked {
  background-color: var(--green);
}
a.sidebar-link-checked {
  color: #fff;
}
.sidebar-link {
  background-color: #fff;
}
a.sidebar-link {
  color: #636e72;
}