.media-layout-titles {
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  min-width: 1200px;
  background-color: #fff;
  line-height: 40px;
  border-bottom: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 30px;
}
.media-layout-media-view-layout {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}

.media-layout-media-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  line-height: 100px;
  padding: 0 15px;
}
.media-layout-media-view:nth-child(odd) {
  background-color: #fff;
}

.media-layout-media-view-delete {
  padding: 0 10px;
  cursor: pointer;
  opacity: .6;
  transition: opacity .5s;
  line-height: 20px;
}

.media-layout-media-view-delete:hover {
  opacity: 1;
}

.media-layout-media-view-item {
  padding: 10px;
  display: flex;
  align-items: center;
}

.media-layout-image {
  max-width: 80px;
  max-height: 80px;
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}
.media-layout-file {
  line-height: 35px;
}
.media-layout-file>span {
  font-size: 25px;
  color: var(--black);
  transition: color .5s;
}
.media-layout-file>span:hover {
  color: var(--green);
}